#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#

includes:
	- navigation.neon
	- authorizator.neon
	- webloader.neon

parameters:
	options:
		Color: [black: black, white: white]

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Frontend:Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


extensions:
	navigation: Kollarovic\Navigation\DI\Extension
	admin: Kollarovic\Admin\DI\Extension
	cart: Kollarovic\ShoppingCart\DI\Extension
	thumbnail: Kollarovic\Thumbnail\DI\Extension
	webloader: WebLoader\Nette\Extension

cart:
	columns:
		price: yes

services:
	- App\Model\UserManager
	router: App\RouterFactory::createRouter

	# forms
	- App\BackendModule\Forms\UserFormFactory(@authorizator::getRoles())
	- App\BackendModule\Forms\PageFormFactory
	- App\BackendModule\Forms\SettingFormFactory
	- App\BackendModule\Forms\ProductFormFactory
	- App\FrontendModule\Forms\CartFormFactory(%options%)
	- App\FrontendModule\Form\OrderFormFactory

	#grids
	- App\BackendModule\Grids\UserGridFactory
	- App\BackendModule\Grids\PageGridFactory
	- App\BackendModule\Grids\ProductGridFactory

	#facades
	- App\Model\Facades\CartFacade

	manager: App\Model\Manager
	- App\Model\SettingManager
	- App\BackendModule\Forms\UploadManager(%wwwDir%, 'images/upload')


admin:
	skin: red #red blue green yellow purple black
	files:
		- %wwwDir%/js/nette.ajax.js
		- %wwwDir%/js/nette.init.js
		- %wwwDir%/css/grido.css
		- %wwwDir%/js/grido.js
		- %wwwDir%/js/grido.ext.js
		- %wwwDir%/js/grido.ajax.js
		- %wwwDir%/js/typeahead.min.js
		- %wwwDir%/js/admin.js
		- %wwwDir%/css/admin.css
		- %wwwDir%/css/typeahead.css
		- https://cdn.ckeditor.com/4.4.6/standard/ckeditor.js
		- https://cdn.ckeditor.com/4.4.6/standard/adapters/jquery.js
		- http://jush.sourceforge.net/jush.js
	login:
		pageMsg: "email: demo@demo.com pass.: demo12"


