#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#

includes:
	- authorizator.neon

parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


extensions:
	navigation: Kollarovic\Navigation\DI\Extension
	admin: Kollarovic\Admin\DI\Extension


services:
	- App\Model\UserManager
	router: App\RouterFactory::createRouter

	# forms
	- App\BackendModule\Form\UserFormFactory(@authorizator::getRoles())
	- App\BackendModule\Form\PageFormFactory
	- App\BackendModule\Form\SettingFormFactory

	#grids
	- App\BackendModule\Grid\UserGridFactory
	- App\BackendModule\Grid\PageGridFactory

	manager: App\Model\Manager
	- App\Model\SettingManager


admin:
	skin: red #red blue green yellow purple black
	files:
		- %wwwDir%/js/nette.ajax.js
		- %wwwDir%/js/nette.init.js
		- %wwwDir%/css/grido.css
		- %wwwDir%/js/grido.js
		- %wwwDir%/js/grido.ext.js
		- %wwwDir%/js/grido.ajax.js
		- %wwwDir%/js/typeahead.min.js
		- %wwwDir%/js/admin.js
		- %wwwDir%/css/style.css
		- %wwwDir%/css/typeahead.css
		- https://cdn.ckeditor.com/4.4.6/standard/ckeditor.js
		- https://cdn.ckeditor.com/4.4.6/standard/adapters/jquery.js
		- http://jush.sourceforge.net/jush.js
	login:
		pageMsg: "email: demo@demo.com pass.: demo12"

navigation:
	admin:
		label: Dashboard
		link: Homepage:default
		icon: fa-dashboard
		items:
			dashboard:
				label: Dashboard
				link: Homepage:default
				icon: fa-dashboard

			page:
				label: Pages
				value: [@manager, count]
				link: Page:default
				icon: fa-file-text-o
				items:
					update:
						label: Update
						link: Page:update
						icon: fa-pencil
						active: FALSE
					create:
						label: Create
						link: Page:create
						icon: fa-plus-circle
						active: FALSE

			user:
				label: Users
				value: [@manager, count]
				link: User:default
				icon: fa-users
				items:
					update:
						label: Update
						link: User:update
						icon: fa-pencil
						active: FALSE
					create:
						label: Create
						link: User:create
						icon: fa-plus-circle
						active: FALSE

			setting:
				label: Setting
				link: Setting:update
				icon: fa-wrench

			code:
				label: Code
				value: 6
				link: Code:default
				icon: fa-file-code-o
				items:
					composer:
						label: Composer.json
						link: Code:composer
						icon: fa-download
					config:
						label: Config.neon
						link: Code:config
						icon: fa-wrench
					presenter:
						label: BasePresenter.php
						link: Code:presenter
						icon: fa-file-code-o
					layout:
						label: Layout.latte
						link: Code:layout
						icon: fa-file-code-o
					signpresenter:
						label: SignPresenter.php
						link: Code:signpresenter
						icon: fa-file-code-o
					in:
						label: Sign/In.latte
						link: Code:in
						icon: fa-file-code-o
