<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="{block description|striptags|strip}{/block}">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{block title|striptags|strip}Homepage{/block} - Demo</title>
	{control css}
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<!--[if lt IE 9]>
		{control ltIe9}
	<![endif]-->
	{block head}{/block}
</head>

<body id="{$presenter->name|webalize}-{$presenter->action}">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" n:href="Homepage:default">Demo</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a n:href="Cart:default">Shopping Cart - {$cart->getQuantity()} - {$cart->getTotal()|price}</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div>
			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} fade in">
				<a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
				{$flash->message}
			</div>
			{include content}
		</div>
	</div>
	
	{block scripts}
	{control js}
	{/block}
</body>
</html>
