{block content}

<div class="box box-primary">
	<div class="box-body">
		{control grid}
		<a n:href="create" class="btn btn-primary"><i class="fa fa-fw fa-plus-circle"></i> Create</a>
	</div>
</div>

